[workspace]
resolver = "2"
members = [
  "json2nix",
  "json2nix-cli",
  "json2nix-web",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["SteveBinary"]
repository = "https://github.com/SteveBinary/json2nix"
license = "MIT"

[workspace.dependencies]
json2nix = { path = "json2nix" }

clap = { version = "4.3.*", features = ["derive"] }
leptos = { version = "0.6.12", features = ["csr"] }
leptos-use = "0.10.*"
serde_json = { version = "1.0.*", features = ["preserve_order"] }
wasm-bindgen = "0.2.*"
