name: "CI"

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20

      - name: Set up Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-flakehub: false
          use-gha-cache: true

      - name: Build CLI app
        run: nix build .#cli

      - name: Build web app
        run: nix build .#web

      - name: Upload build artifacts of the web app
        if: github.ref_name == 'main'
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./result

  deploy:
    if: github.ref_name == 'main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
